@import "tailwindcss";

@theme {
  --color-primary: #ff6b00;
  --color-primary-dark: #e65a00;
  --color-background-light: #ffffff;
  --color-background-dark: #0f1419;
  --color-card-light: #f7f9f9;
  --color-card-dark: #16181c;

  --font-display: Inter, sans-serif;

  --radius-DEFAULT: 12px;
}

@layer base {
  body {
    font-family: var(--font-display);
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 transition-colors duration-200;
  }
}
